// Regułki ważne w każdym pliku + zmienne, mixiny

// VARIABLES:

$primary-color: #e0e0e0;
$secondary-color: #292929;

$primary-font: 'Merriweather', serif;
$secondary-font: 'Times New Roman', sans-serif;

$bottom-border: 1px solid $primary-color;

// MIXINS:

// @mixin bottom-border {
//     border-bottom: 1px solid $primary-color;
// }

@mixin hover-glow {
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px #fff);
}


// RULESETS:
// ogólne:
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: $primary-color;
    background-color: $secondary-color;
}

h1, h2 {
    font-family: $primary-font;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

// sidebar:
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 108px;
    padding: 4px;

    background-color: $secondary-color;
    border-right: 1px solid $primary-color;

    & > * {
        width: 100px;
        height: 100px;
    }
}

.subpage-link {
    stroke: $primary-color;
    stroke-width: 4;
    fill: none;

    svg {
        transition: all 0.2s;

        &:hover {
            @include hover-glow;
        }
    }
}

.github-link {
    position: absolute;
    bottom: 0px;

    a {
        display: block;

        text-align: center;
        line-height: 100px;
        font-size: 1.2em;
        font-weight: bold;
        color: $primary-color;

        &:hover {
            border-bottom: $bottom-border;
        }
    }
}

// main-content:
.main-content {
    width: 90%;
    margin-left: 108px;
    padding: 4px 12px;
}

.main-component {
    margin-bottom: 24px;
    width: 90%;

    border-bottom: $bottom-border;
    font-size: 1.1em;
}

.heading-main {
    height: 100px;

    font-size: 1.3em;
}

.header-sub {
    margin-bottom: 12px;
}