// Odnosi się wyłącznie do index.html

@use 'base' as *;

.text-content {
    margin-bottom: 12px
}

.text-content {
    line-height: 1.5em;
    text-align: justify;
    font-family: $secondary-font;

    &:nth-child(1) {
        font-size: 2em;
    }
}